{% load staticfiles %}
<div class="col s12 about center-align topBtn" id="about">
<div class="section">
<div class="row">


    <div class="col s12 title">
        <h4>ABOUT</h4>
    </div>

    <div class="container">
    <div class="col s12 m6 profile">
        <img class="circle" src="{% static 'img/profile.png' %}">
    </div>


    <div class="col s12 m6 bio">
    <h5> I am a freelance web developer based in Brooklyn, New York, specialized in both front-end and back-end programming.</h5> 
    </div>
    
    </div>


</div>
</div>
</div>
