{% load staticfiles %}
<div style="display:none"class="navigation navbar-fixed hide-on-med-and-up">
<nav class="z-depth-0 black">
<div class="nav-wrapper black">
  <a href="/" class="brand-logo">RYUSUKE LAVALLA</a>
  <a href="#" data-activates="mobile-demo" class="button-collapse">
    <i class="fa fa-bars fa-2x"style="color:white"aria-hidden="true"></i>
  </a>

  <ul class="side-nav center" id="mobile-demo">

    <div class="side_Img">
        <li>
          <a href="/"><img class="circle" src="{% static 'img/profile.png' %}"></a>
        </li>
    </div>
    <div class="sideTitle">
        <h6>Full Stack Web Developer</h6>
    </div>


    <div class="side_menu">
    <li><a href="/#about">ABOUT</a></li>
    <li><a href="/#skills">SKILLS</a></li>
    <li><a href="/#work">WORK</a></li>
    <li><a href="/#contact">CONTACT</a></li>
    </div>

    <li class="side_icons">
        <a href="https://www.linkedin.com/in/ryusukelavalla"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
        <a href="mailto.ryusukelavalla@gmai.com"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
        <a href="https://github.com/ryusuke15"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
    </li>
  </ul>
</div>
</nav>
</div>

<!--Bottom Arrow Button -->
<div class="fixed-action-btn btnUp naviBtn"style="display:none;bottom:45px;right:24px;">
<a class="btn-floating btn-large white z-depth-2">
<i class="fa fa-angle-double-up fa-3x" style="text-shadow:none; color:black" aria-hidden="true"></i>
</a>
</div>

