{% load staticfiles %}
<div class="col s12 topBtn center-align skills"id="skills">
<div class="section">
<div class="row">
        
    <div class="title">
    <h4>SKILLS</h4>
    </div>

    <div class="each_skills">

        <div class="col s12 m4 indivi_skills">
            <i class="fa fa-code fa-3x" aria-hidden="true"></i> 
            <h5>Language</h5>
            <ul>
                <li>Python</li>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bash</li>
            </ul>
        </div>    

        <div class="col s12 m4 indivi_skills">
            <i class="fa fa-terminal fa-3x" aria-hidden="true"></i> 
            <h5>Service</h5>
            <ul>
                <li>Responsive Web Design</li>
                <li>RESTful API</li>
                <li>Single Page Applicaton</li>
                <li>Custom CMS</li>
                <li>Search Engine Optimizaiton</li>
            </ul>
        </div>    

        <div class="col s12 m4 indivi_skills">
            <i class="fa fa-book fa-3x" aria-hidden="true"></i> 
            <h5>Framework</h5>
            <ul>
                <li>Angular.js</li>
                <li>Django</li>
                <li>Node</li>
                <li>Materialize.css</li>
            </ul>
        </div>    

        <div class="col s12 m4 offset-m2 indivi_skills">
            <i class="fa fa-database fa-3x" aria-hidden="true"></i> 
            <h5>Database</h5>
            <ul>
                <li>Postgres</li>
                <li>SQLite3</li>
                <li>MongoDB</li>
            </ul>
        </div>    
        <div class="col s12 m4 indivi_skills">
            <i class="fa fa-server fa-3x" aria-hidden="true"></i> 
            <h5>Deployment</h5>
            <ul>
                <li>Amazon Web Services</li>
                <li>Linux</li>
                <li>Ubuntu</li>
                <li>Github</li>
            </ul>
        </div>    
    </div>


</div>
</div>
</div>
