{% load staticfiles %}
<div class="col s12 topSection">
<div class="row center-align">

    <div class="col s12 titleSection">
        <div class="coverTitle"></div>
    </div>

    <div class="col s12 naviSection">
    <div class="row">

        <div class="col s12">
        <a class="btn-larg naviBtn">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <p>ABOUT</p>
        </a>
        </div>

        <div class="col s6">
        <a class="btn-larg naviBtn">
        <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
        <p>SKILLS</p>
        </a>
        </div>

        <div class="col s6">
        <a class="btn-larg naviBtn">
        <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
        <p>WORK</p>
        </a>
        </div>

        <div class="col s12">
        <a class="btn-larg naviBtn">
        <i class="fa fa-address-card fa-3x" aria-hidden="true"></i>
        <p>CONTACT</p>
        </a>
        </div>

    



    </div>
    </div>


</div>
</div>
