{% load staticfiles %}
<div class="col s12 center-align topBtn work"id="work">
<div class="section">
<div class="row">


    <div class="col s12 title">
       <h4>WORK</h4> 
    </div>


<div class="col s12 m6">
<div class="card">
    <div class="card-image">
        <img src="{% static 'img/rockwall1.png' %}">
        <span class="card-title">Rockwall Studios LLC</span>
    </div>
    <div class="card-content">
        <p>A studio rental company based in Ridgewood Queens NYC. My first freelance project.</p>
    </div>

    <div class="card-action">
    <a href="http://www.rockwallstudios.nyc">Rockwallstudios.nyc</a>
    </div>
</div>
</div>

<div class="col s12 m6">
<div class="card">
    <div class="card-image">
        <img src="{% static 'img/wolfgang.png' %}">
        <span class="card-title">Wolfgang Douglas</span>
    </div>
    <div class="card-content">
        <p>Digital portfolio using Angular, Django and Postgres; deployed on Amazon Web Services.</p>
    </div>

    <div class="card-action">
    <a href="http://wolfgangdouglas.com">Wolfgangdouglas.com</a>
    </div>
</div>
</div>



</div>
</div>
</div>
